openapi: 3.2.0
info:
  title: Zscaler App Views API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 16 operation(s) read from 1 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Zscaler has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 16
    pages-with-code: 0
    pages-read: 1
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
servers:
- url: https://api.apptotal.zscaler.com
tags:
- name: App Views
paths:
  /app_views/list:
    get:
      operationId: get_app_views_list
      tags:
      - App Views
      summary: Retrieves the list of custom views that you have configured in the 3rd-Party…
      x-source: https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppViewsListResponse'
      x-evidence:
        kind: documentation
  /app_views/{appviewid}/{id}:
    get:
      operationId: get_app_views_appviewid_id
      tags:
      - App Views
      summary: Retrieves the associated user accounts for a view ID
      x-source: https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
      parameters:
      - name: appviewid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppViewsAppviewidIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at id
  /v1/app_views/list:
    get:
      operationId: get_v1_app_views_list
      tags:
      - App Views
      summary: Retrieves the list of custom views that you have configured
      description: Retrieves the list of custom views that you have configured in the 3rd-Party App Governance Admin Portal and includes all configurations that define the custom view.
      x-source: https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1AppViewsListResponse'
      x-evidence:
        kind: documentation
  /v1/app_views/{appviewid}/{id}:
    get:
      operationId: get_v1_app_views_appviewid_id
      tags:
      - App Views
      summary: Retrieves the associated user accounts for a view ID
      description: Retrieves the associated user accounts for a view ID.
      x-source: https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
      parameters:
      - name: appviewid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1AppViewsAppviewidIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at id
components:
  schemas:
    GetAppViewsAppviewidIdResponse:
      type: object
      properties:
        AppAccountsMap:
          type: object
          description: A map where each key is an app ID and the value is an array of email addresses or null
    GetAppViewsListResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        createdBy:
          type: string
        createdAt:
          type: number
        spec:
          type: object
    GetV1AppViewsAppviewidIdResponse:
      type: object
      properties:
        AppAccountsMap:
          type: object
          description: A map where each key is an app ID and the value is an array of email addresses or null.
    GetV1AppViewsListResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        createdBy:
          type: string
        createdAt:
          type: number
        spec:
          type: object
