openapi: 3.2.0
info:
  title: Zscaler Apps API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 16 operation(s) read from 1 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Zscaler has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 16
    pages-with-code: 0
    pages-read: 1
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
servers:
- url: https://api.apptotal.zscaler.com
tags:
- name: Apps
paths:
  /apps/search:
    post:
      operationId: post_apps_search
      tags:
      - Apps
      summary: Searches for an app by name.
      x-source: https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
      parameters:
      - name: appName
        in: query
        required: true
        schema:
          type: string
        description: The app name
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: Limit the number of results
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAppsSearchResponse'
      x-evidence:
        kind: documentation
  /v1/apps/app:
    post:
      operationId: post_v1_apps_app
      tags:
      - Apps
      summary: Submits an app for analysis in the 3rd-Party App Governance Sandbox
      x-source: https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1AppsAppRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1AppsAppResponse'
      x-evidence:
        kind: documentation
  /v1/apps/{appid}:
    get:
      operationId: get_v1_apps_appid
      tags:
      - Apps
      summary: Searches the 3rd-Party App Governance App Catalog by either app ID or URL…
      x-source: https://help.zscaler.com/legacy-apis/3rd-party-app-governance-api
      parameters:
      - name: appid
        in: path
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        required: false
        schema:
          type: string
        description: The app identifier (e.g., OAuth client ID)
      - name: url
        in: query
        required: false
        schema:
          type: string
        description: Valid consent link or marketplace link
      - name: verbose
        in: query
        required: false
        schema:
          type: boolean
        description: Return a verbose report including potentially heavy artifacts
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1AppsAppidResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at appId
components:
  schemas:
    PostV1AppsAppRequest:
      type: object
      properties:
        appId:
          type: string
          description: App identifier
      required:
      - appId
    PostAppsSearchResponse:
      type: object
      properties:
        count:
          type: integer
        currentPage:
          type: integer
        data:
          type: array
    GetV1AppsAppidResponse:
      type: object
      properties:
        name:
          type: string
        publisher:
          type: object
        platform:
          type: string
        description:
          type: string
    PostV1AppsAppResponse:
      type: object
      properties:
        message:
          type: string
